#confirmationMessage, #errorMessage {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    z-index: 1000; /* Se muestra encima del contenido */
    display: none;
}

#confirmationMessage {
    background-color: #28a745; /* Verde para éxito */
}

#errorMessage {
    background-color: #dc3545; /* Rojo para error */
}